@font-face {
  font-family: 'PressStart2P';
  src: url('fonts/PressStart2P-Regular.ttf');
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: bisque;
}
